html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  height: 100vh;
  margin: 0;
}
caption{
  text-align:center;
    border-bottom: 2px solid #ddd;
        color: #3e3e3e;
    font-size: large;
}
.subtitle {
    font-size: 44px;
    font-weight: 800;
/*     font-family: monospace; */
    font-variant: small-caps;
    color: black;
}
.highlight-sum{
  background-color: rgb(255, 187, 61);
}
.pid{
    font-family: Arial;
}
.full-height {
  height: 40vh;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.modal-footer .btn{
  margin-right:10px;
}
.content {
  text-align: center;
  padding-top: 10vh;
}

.title {
  font-size: 84px;
  font-weight: 100;
}
.links{
  margin-bottom: 40px;
}

.links> a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.form {
  padding-left: 100px;
  padding-right: 100px;
}

.m-b-md {
  margin-bottom: 30px;
}
.btn{
  font-weight:600;
}

.history-table{
  
    max-width: 500px !important;
}